@media (min-width: 992px) {
    .seatBox {
        width: 10rem;
    }
}

@media (max-width: 991px) {
    .seatBox {
        width: 87%;
    }
}

.modal {
    padding: 0 !important; // override inline padding-right added from js
}

.modal .modal-dialog {
    width: 100%;
    max-width: none;
    height: 100%;
    margin: 0;
}

.modal .modal-content {
    height: 100%;
    border: 0;
    border-radius: 0;
}

.modal .modal-body {
    overflow-y: auto;
}